<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Realtime location tracker</title>

    <!-- leaflet css  -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    />

    <style>
      body {
        margin: 0;
        padding: 0;
      }

      #map {
        width: 100%;
        height: 100vh;
      }
    </style>
  </head>

  <body>
    <div id="map"></div>
    <h4>Airplane Details:</h4>
    <table>
      <tr>
        <th>Model</th>
        <th>Type</th>
        <th>X Coordinate</th>
        <th>Y Coordinate</th>
      </tr>
      <tr th:each="plane : ${airplanes}">
        <td th:text="${plane.model}"></td>
        <td th:text="${plane.type}"></td>
        <td th:text="${plane.xcord}"></td>
        <td th:text="${plane.ycord}"></td>
      </tr>
    </table>

    <!-- leaflet js  -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <script th:inline="javascript">
      var map = L.map("map").setView([20.17, 78.04], 6);

      var osm = L.tileLayer(
        "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
        {
          attribution:
            '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        }
      ).addTo(map);

      var airplanes = /*[[${airplanes}]]*/ [];

      var markers = {};
      airplanes.forEach(function (plane) {
        var marker = L.marker([plane.xcord, plane.ycord]).addTo(map);
        marker.bindPopup("Model: " + plane.model + "<br>Type: " + plane.type);
        markers[plane.id] = marker;
      });

      function updateMarkers() {
        airplanes.forEach(function (plane) {
          // Generate random values for direction and update coordinates
          var randomX = Math.random() * 0.1 - 0.05; // Random value between -0.05 and 0.05
          var randomY = Math.random() * 0.1 - 0.05; // Random value between -0.05 and 0.05
          plane.xcord += randomX;
          plane.ycord += randomY;
          markers[plane.id].setLatLng([plane.xcord, plane.ycord]);
        });
      }

      setInterval(updateMarkers, 3000);
    </script>
  </body>
</html>
